<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <property name="LOG_PATTERN"
    value="[%d{yyyy-MM-dd HH:mm:ss}:%-5relative] %green([%thread]) %highlight(%-5level) %boldWhite([%C.%M:%yellow(%L)]) - %msg%n"/>

  <!-- 콘솔 출력 어팬더 -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <!-- 에러 콘솔 출력 어팬더 -->
  <appender name="ErrorSTDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>${LOG_PATTERN}</pattern>
    </layout>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>

  <!-- logging for local, dev, test, prod -->
  <springProfile name="local, dev, test, prod">
    <logger name="com.jakers.treasure" level="debug">
      <appender-ref ref="STDOUT"/>
    </logger>

    <!-- keycloak -->
    <logger name="org.keycloak.adapters" level="debug">
      <appender-ref ref="STDOUT"/>
    </logger>

    <!-- 스프링 프레임워크 -->
    <logger name="org.springframework.core" level="info" additivity="false">
      <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.springframework.beans" level="info" additivity="false">
      <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.springframework.context" level="info" additivity="false">
      <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.springframework.web" level="info" additivity="false">
      <appender-ref ref="STDOUT"/>
    </logger>

    <!-- 하이버네이트 로그 -->
    <logger name="org.hibernate.SQL" level="debug" additivity="false">
      <appender-ref ref="STDOUT"/>
    </logger>
    <!-- 하이버네이트 파라미터와 결과 -->
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="trace"
      additivity="false">
      <appender-ref ref="STDOUT"/>
    </logger>

    <!-- JDBC SQL 파라메터 로그 -->
    <logger name="org.springframework.jdbc.core.StatementCreatorUtils" level="trace"
      additivity="false">
      <appender-ref ref="STDOUT"/>
    </logger>

    <!-- 히카리 CP -->
    <logger name="com.zaxxer.hikari" level="debug" additivity="false">
      <appender-ref ref="STDOUT"/>
    </logger>

    <root level="error">
      <appender-ref ref="ErrorSTDOUT"/>
    </root>
  </springProfile>
</configuration>
